*{
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;

    
    
}

h3 {
    font-size: 36px; 
    margin-top: 44px;
    text-decoration: none;
    a {
        text-decoration: none;
        color:white ;

        &:hover { 
            color: #CC7676;
            transition: 0.5s;
          }
    }


    &:hover { 
        color: #CC7676;
        transition: 0.5s;
      }
}

h4 {
    font-size: 16px; 
    color:#96AEB2;

    a {
        text-decoration: none;
        color:#96AEB2;

        &:hover { 
            color: #CC7676;
            transition: 0.5s;
          }
    }
}