*{
    width: 80vw;
}

@media (min-width: 666px){
    *{
        width: 50vw;
    }
    
}

@media (min-width: 1000px){
    *{
        width: 30vw;
    }  
}

@media (min-width: 1500px){
    *{
        width: 20vw;
    }
    
}